# -*- mode: sh; -*-
# (rootdir)/.envrc : direnv configuration file
# see https://direnv.net/
pyversion=$(head .python-version)
pvenv=$(basename $PWD)

use python ${pyversion}
# Create the virtualenv if not yet done
layout virtualenv ${pyversion} ${pvenv}
# activate it
layout activate ${pvenv}-${pyversion}

export POETRY_CONFIG_DIR=~/Library/Preferences/pypoetry13
export POETRY_CACHE_DIR=~/Library/Caches/pypoetry13

export DOCKER_DEFAULT_PLATFORM=linux/amd64
